In [2]:
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [1]:
name: list[str] = [chr(i) for i in range(65,91)]
display(name)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [5]:
names : list[str] = ["Abid", "Malik", "Ali"]

uinput: str = input("Enter your name")

uinput in names

True

In [6]:
names : list[str] = ["Abid", "Malik", "Ali"]

uinput: str = input("Enter your name")

uinput not in names

True

In [7]:
a , b ,c = "Abid",7,3.0

print(a)
print(b)
print(c)

Abid
7
3.0

In [8]:
a , b ,c = ("Abid",7,3.0)

print(a)
print(b)
print(c)

Abid
7
3.0

In [12]:
data = ("index1", 20, 3.9)
print(data[0],data[1],data[2])

index1 20 3.9

In [13]:
data = ("index1", 20, 3.9)
print(*data)

index1 20 3.9